.navbar {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid;
}

.dark.navbar {
  border-color: rgb(65, 65, 65);
}

.light.navbar {
  border-color: rgb(219, 218, 218);
}

.dark {
  color : rgb(28, 39, 39);
}

.light {
  color : rgb(255, 255, 255);
}

.logo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: bold;
  border-bottom: solid;
}

.link {
  border-bottom: solid;
  transition: opacity 2s ease, border-color 1s ease;
}

.dark .link {
  color: rgb(28, 39, 39);
  border-color: rgba(255, 255, 255, 0);
}

.dark .link:hover {
  border-color: rgb(62, 62, 62);
}

.light .link {
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0);
}

.light .link:hover {
  border-color: rgb(219, 218, 218);
}

.logo {
  font-size: xx-large;
}