.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background/triangle-mosaic.png');
  background-repeat: repeat; /* Make the background image repeat */
}