.home header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
}

.main {
  width: 100vw;
  padding: 0;
}

.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
}

.landing img {
  position: absolute;
  max-width: 100%;
  width: 120%;
  height: 120%;
  object-fit: cover; 
  object-position: 30% 20%;
}

.landingMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.landingText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  width: 80%;
}

.description {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 36, 156);
}

.timeline {
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 184, 68, 0.584);
}


@media screen and (min-width: 768px) {
  .landingText {
    font-size: 3rem;
  }
}
