.main {
  background-image: url('/images/background/triangle-mosaic.png');
  background-repeat: repeat; /* Make the background image repeat */
  min-height: 88vh;
}

.blog {
  min-height: 88vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content ol li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: decimal;
}

.content ol li::marker {
  color: #7f26d8;
}

.content ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

.content ul li::marker {
  color: #7f26d8;
}

.content h1,
.content h2,
.content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content h4,
.content h5,
.content pre,
.content img,
.content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content h1 {
  font-size: xxx-large;
  place-self: center;
}

.content h2 {
  font-size: xx-large;
}

.content pre {
  color: #abb2bf;
  background: #282c34;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}

.content table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}

.content table thead tr {
  background-color: #6a1f79;
  color: #ffffff;
  text-align: left;
}

.content table th,
.content table td {
  padding: 1rem 0.7rem;
}

.content table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content table tbody tr:last-of-type {
  border-bottom: 2px solid #3c0b3f;
}

.content a {
  color: rgba(64, 37, 180, 0.717);
}

.content div.code {
  white-space: pre;
}

.datetime {
  color: rgba(57, 57, 65, 0.562);
}

.content code:not(pre > code) {
  background-color: rgb(218, 213, 229);
  color: rgb(107, 40, 252);
  padding: 0.05rem;
  border-radius: 0.15rem;
}

.content p:has(> img) {
  text-align: center;
  width: 100%;
}

/* Styles for screens larger than 1024px (desktops and larger) */
@media screen and (min-width: 1400px) {
  /* Styles for desktop and larger screens */
  .blog {
    width: 70%;
  }
}