.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background/triangle-mosaic.png');
  background-repeat: repeat; /* Make the background image repeat */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 1400px) {
  .cards {
    width: 90%;
  }
}